.services {
    &__title {
      height: 200px;
      position: relative;
  
      &-text {
        font-weight: 700;
        font-size: 30px;
        line-height: 37px;
        text-transform: uppercase;
        margin-left: 50px;
        padding-top: 130px;
      }
      &-img-poly {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
      }
      &-img-arrow {
        position: absolute;
        top: 0;
        left: 90px;
        z-index: -1;
        width: 63%;
        height: 85%;
      }
    }
    &__items {
      margin-top: 36px;
      justify-content: center;
      margin-left: -7.5px;
      margin-right: -7.5px;
      padding-bottom: 58px;
    }
    &__item {
      background: #6ca7ef;
      border-radius: 20px;
      height: 249px;
      margin: 7.5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding: 45px;
      text-decoration: none;
      transition: 0.2s;
      &:hover {
        background: #5391dc;
        transition: 0.2s;
      }
    }
    & .col-sl-12,
    .col-md-6,
    .col-lg-4,
    .col-lg-8 {
      padding: 0;
    }
    &__item-text {
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      text-align: center;
      letter-spacing: 0.01em;
      color: #ffffff;
    }
    &__item-img {
      height: 81px;
      margin-bottom: 20px;
      &_startup {
        height: 81px;
      }
    }
  }
  @media (min-width: 992px) {
    .services__img-report_height {
      height: 507px;
    }
    .services__img-idea_height {
      height: 164px;
    }
    .services__img-search_height {
      height: 328px;
    }
    .services__img-startup_height {
      height: 328px;
    }
    .services__items {
      display: flex;
      justify-content: flex-end;
    }
    .item_up {
      margin-top: -343px;
    }
    .services__item {
      justify-content: center;
    }
    .services__item-text {
      margin-top: 30px;
    }
    .services__img-idea_justify {
      flex-direction: row;
    }
  }
  
  @media (min-width: 1200px) {
    .services__img-idea_justify .services__item-text {
      display: inline-block;
      width: 460px;
      margin-left: 40px;
    }
  }
  @media (max-width: 768px) {
    .services__title-img-poly {
      display: none;
    }
    .services__title-img-arrow {
      display: none;
    }
    .services__title-text {
      text-align: center;
      padding-top: 80px;
      margin-left: 0;
    }
    .services__title {
      height: 140px;
    }
    .services__items {
      padding-bottom: 34px;
    }
  }
#blue {
    .about__wrapper {
        padding-top: 105px;
        padding-bottom: 115px;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            background-image: url('/src/assets/img/icons/two__lines.svg');
            width: 100%;
            height: 100%;
            background-position: 44% 30px;
            background-repeat: no-repeat;
            background-size: 50% 98%;
            z-index: -1;
        }

        .text {
            position: relative;
            margin-top: 90px;
            margin-left: 80px;
            img {
                position: absolute;
                left: -5px;
                top: -60px;
                z-index: -1;
            }
            svg {
                display: none;
            }
            .q {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 44px;
                line-height: 54px;
                text-transform: uppercase;
                color: #282C37;
                margin-bottom: 5px;
            }

            .w {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 30px;
                line-height: 37px;
                text-transform: uppercase;
                color: #282C37;
                margin-bottom: 15px;
            }

            .e {
                max-width: 475px;
                font-family: 'Lato';
                font-style: normal;
                font-weight: 400;
                font-size: 22px;
                line-height: 26px;
                color: #282C37;
                margin-bottom: 30px;
            }
        }

        .img {
            img {
                width: 100%;
            }
        }
    }

    .four__wrapper {
        .four__container {
            .block {
                margin-bottom: 60px;
                display: flex;
                gap: 64px;

                img {
                    width: 35px;
                    height: 38px;
                }

                p {
                    font-family: 'Lato';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 22px;
                    color: #282C37;
                    &:hover {
                        color: #5391DC;
                        text-decoration-line: underline;
                        transition: 0.2s;
                        cursor: pointer;
                    }
                }
            }
        }




    }
    
}
@media (min-width:1399px) {
  
    .img {
        img {
            width: 467.8px;
        }
    }
}
@media (max-width: 575.98px) {
    .blue__container {
        .block__blue-first,
        .block__blue-third { 
            margin-bottom: 15px;
        }
        .block__blue-second,
        .block__blue-first,
        .block__blue-third,
        .block__blue-fourth {
            height: 249px !important;
            img {
                width: 68.74px;
                height: 57.4px;
            }
        }


    }
}
@media (max-width: 767.98px) {
    #blue {
        .about__wrapper {
            padding-top: 40px !important;
            padding-bottom: 80px !important;
            position: relative;
            flex-direction: column-reverse;
            &::before {
               display: none;
            }
            .row>* {
                flex-shrink: 0;
                width: 100%;
                max-width: 100%;
                padding-right: calc(var(--bs-gutter-x) * .5);
                padding-left: calc(var(--bs-gutter-x) * .5);
                margin-top: var(--bs-gutter-y);
                padding: 0;
            }
            .ps-4 {
                padding: 0 !important;
            }
    
            .text {
                margin-top: 35px !important;
                margin-left: 0px !important;
                text-align: center;
                img {
                   display: none;
                }
                svg {
                    display: block;
                    margin: auto;
                    margin-top: 55px;
                }
                .q {
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 28px;
                    line-height: 34px;
                    text-transform: uppercase;
                    color: #282C37;
                    margin-bottom: 5px;
                }
    
                .w {
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 22px;
                    text-transform: uppercase;
                    color: #282C37;
                    margin-bottom: 15px;
                }
    
                .e {
                    margin: auto;
                    width: 300px;
                    font-family: 'Lato';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 17px;
                    color: #282C37;
                    margin-bottom: 25px !important; 
                }
            }
    
            .img {
                text-align: center;
                img {
                    width: 239px !important;
                    height: 231.43px !important;
                }
            }
        }

        .four__wrapper {
            .four__container {
                .block {
                    margin-bottom: 25px !important;
                    gap: 29px !important;

                    p {
                        font-size: 18px !important;
                        line-height: 22px !important;
                    }
                }
            }
        }

        .blue__container {
            padding-top: 50px !important;
            &::before {
               display: none;
            }
            .blue__svg {
                display: none;
            }
            .blue__text-title {
                padding-left: 0 !important;
                margin-bottom: 20px !important;
                width: 100%;
                text-align: center;
            }
            .block-blue__size {
                padding: 15px;

                p {
                    width: 100%;
                }
            }


            .block__blue-second {
                height: 328px;
                flex-direction: column;
            }
            .block__blue-first,
            .block__blue-third,
            .block__blue-fourth {
                height: 328px;
            }

            .responsive__ipad {
                display: block;
            }

            .responsive__web {
                display: none;
            }

        }
    }
}

@media (max-width: 991.98px) {
    #blue {
        .about__wrapper {
            padding-top: 105px;
            position: relative;
    
            .text {
                position: relative;
                margin-top: 50px;
                margin-left: 10px;
                img {
                    position: absolute;
                    left: -5px;
                    top: -60px;
                    z-index: -1;
                }
                .q {
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 28px;
                    line-height: 34px;
                    text-transform: uppercase;
                    color: #282C37;
                    margin-bottom: 5px;
                }
    
                .w {
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 22px;
                    text-transform: uppercase;
                    color: #282C37;
                    margin-bottom: 15px;
                }
    
                .e {
                    max-width: 475px;
                    font-family: 'Lato';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 17px;
                    color: #282C37;
                    margin-bottom: 30px;
                }
            }
    
            .img {
                img {
                    width: 259px;
                    height: 250.8px;
                }
            }
        }
        .four__wrapper {
            .four__container {
                .block {
                    gap: 35px;
                }
            }
        }
    }

}