#blue {
    .blue__content {
        padding-top: 105px;
        .blue__text {
            padding-left: 7.8%;
            padding-top: 110px;
            .blue__text-title1 {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 44px;
                line-height: 54px;
                text-transform: uppercase;
                color: #282C37;
                margin-bottom: 5px;
            }
            .blue__text-title2{
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 30px;
                line-height: 37px;
                text-transform: uppercase;
                color: #282C37;
                margin-bottom: 20px;
            }
            .blue__text-title3 {
                font-family: 'Lato';
                font-style: normal;
                font-weight: 400;
                font-size: 22px;
                line-height: 26px;
                color: #282C37;
                margin-bottom: 30px;
            }
        }
        .blue__img {

        }
    }
}






.blue__container {
    .block-blue__size {
        background: #6CA7EF;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 32px;
        padding: 10px 15px;

        p {
            font-family: 'Lato';
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            text-align: center;
            letter-spacing: 0.01em;
            color: #FFFFFF;
        }
    }

    .block__blue-first {
        height: 507px;

        p {
            max-width: 270px;
        }
    }

    .block__blue-second {
        height: 164px;
        flex-direction: row;
        margin-bottom: 15px;

        p {
            max-width: 495px;
        }
    }

    .block__blue-third {
        height: 328px;

        p {
            max-width: 213px;
        }
    }

    .block__blue-fourth {
        height: 328px;

        p {
            max-width: 213px;
        }
    }

    .responsive__ipad {
        display: none;
    }

}

@media (max-width: 767.98px) {
    .blue__container {
        .block-blue__size {
            padding: 15px;

            p {
                width: 100%;
            }
        }


        .block__blue-second {
            height: 328px;
            flex-direction: column;
        }

        .block__blue-first,
        .block__blue-third,
        .block__blue-fourth {
            height: 328px;
        }

        .responsive__ipad {
            display: block;
        }

        .responsive__web {
            display: none;
        }

    }
}