.modal-order {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    overflow: auto;
    z-index: 10;
    visibility: hidden;
}

.modal-order_open {
    visibility: visible;
}

.modal-order__wrapper {
    width: 500px;
    min-height: 100%;

    display: flex;
    align-items: center;
    margin: 0 auto;
}

.modal-order__container {
    position: relative;
    margin: 50px 0;
    width: 506px;
    height: 700px;

    padding: 100px 90px 56px 86px;

    border-radius: 4px;
    color: #000000;
    background-color: #FFFFFF;
}

.modal-page__form {
    display: flex;
    flex-direction: column;
    align-items: center;

    .modal__input {
        margin-bottom: 23px;
    }
}

.modal-page__close {
    position: absolute;
    margin: 20px 0 0 20px;
    left: 0;
    top: 0;
    cursor: pointer;
}

.modal-page__title {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #282C37;
    margin-bottom: 34px;
}

.name,
.big-text,
.email {
    width: 312px;
    height: 50px;
    border: 1px solid #282C37;
    border-radius: 8px;
    background-color: #FFFFFF;
    padding: 14px 21px;
    font-family: 'Lato italic';
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #282C37;
}

.name::placeholder,
.big-text::placeholder,
.email::placeholder {
    color: #9FA7B0;
}

.big-text {
    height: 200px;
}

.name:focus,
.big-text:focus,
.email:focus {
    border: 0px;
    outline: 1px solid #0278ED;
}

.form__button-submit {
    width: 312px;
}

.form__button-submit:disabled {
    border: 1px solid #9FA7B0;
    background: #9FA7B0;
    width: 312px;
}

.input-field-error {
    border: 0px;
    outline: 1px solid #CF4747;
}

.warning-name-error,
.warning-email-error,
.warning-big-text-error {
    font-family: 'Lato italic';
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #CF4747;
    margin-left: 11px;
    margin-bottom: 0px;
}

@media (max-width: 530px) {
    .modal-order {
        z-index: 400;
    }

    .modal-order__wrapper {
        width: 100%;
        min-height: 100%;

        display: flex;
        align-items: center;
        margin: 0 auto;
    }

    .modal-order__container {
        position: relative;
        margin: 0;
        width: 100%;
        height: 110vh;
        padding: 100px 0 56px 0;

        border-radius: 0;
        color: #000000;
        background-color: #FFFFFF;
    }

    .name,
    .big-text,
    .email {
        width: 300px;
    }

    .form__button-submit {
        width: 300px;
    }

    .modal-page__close {
        width: 24px;
        height: 24px;
    }
}