#price {


.block_itemsss {
    max-width: 1173px;
    margin: auto;
    height: auto;
    background: #FFFFFF;
    box-shadow: 4px 4px 20px rgba(40, 44, 55, 0.2);
    border-radius: 20px;
    padding: 39px 0 39px 26px;
}
.price__items {
    justify-content: center;
    background-color: blue;
    margin: auto;
    margin-top: 20px;
}
.col-11 {
    background-color: red;
}
.col-md-6 {
    flex: 0 0 auto;
    width: 48.5%;
    background-color: yellowgreen;
}
.col-md-5 {
    background-color: blue;
}
// .col-12 {
//     flex: 0 0 auto;
//     width: 100%;
// background-color: green;
// }
.bock {
    display: flex;
    gap: 41px;
    margin-top: 13px;
    align-items: flex-start;
    p {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 20px;
        margin: 0;
        color: #282C37;

    }
}
.q {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    margin-bottom: 30px;
    color: #282C37;
    
}
.w {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    margin-bottom: 5px;
    color: #282C37;
}
.e {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    
    margin-bottom: 30px;
    color: #282C37;
    
}
.r {
    width: 229px;
height: 48px;
background: #287EE7;
border-radius: 8px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;

}}
// @media (max-width: 767.98px) {

//     #price {


//         .block_itemsss {
//             max-width: 1173px;
//             margin: auto;
//             height: auto;
//             background: #FFFFFF;
//             box-shadow: 4px 4px 20px rgba(40, 44, 55, 0.2);
//             border-radius: 20px;
//             padding: 15px 3px;
//         }
//         .price__items {
//             justify-content: center;
//             margin: auto;
//             margin-top: 20px;
//         }
//         .col-md-6 {
//             flex: 0 0 auto;
//             width: 48.5%;
//             background-color: yellowgreen;
//         }
//         .col-md-5 {
//             background-color: blue;
//         }
//         .col-12 {
//             flex: 0 0 auto;
//             width: 100%;
//             background-color: green;
//         }
//         .bock {
//             display: flex;
//             gap: 41px;
//             margin-top: 13px;
//             align-items: flex-start;
//             p {
//                 font-family: 'Lato';
//                 font-style: normal;
//                 font-weight: 400;
//                 font-size: 17px;
//                 line-height: 20px;
//                 margin: 0;
//                 color: #282C37;
        
//             }
//         }
//         .q {
//             font-family: 'Montserrat';
//             font-style: normal;
//             font-weight: 700;
//             font-size: 30px;
//             line-height: 37px;
//             margin-bottom: 30px;
//             color: #282C37;
            
//         }
//         .w {
//             font-family: 'Lato';
//             font-style: normal;
//             font-weight: 400;
//             font-size: 18px;
//             line-height: 22px;
//             /* identical to box height */
//             margin-bottom: 5px;
//             color: #282C37;
//         }
//         .e {
//             font-family: 'Lato';
//             font-style: normal;
//             font-weight: 400;
//             font-size: 18px;
//             line-height: 22px;
//             /* identical to box height */
            
//             margin-bottom: 30px;
//             color: #282C37;
            
//         }
//         .r {
//             width: 229px;
//         height: 48px;
//         background: #287EE7;
//         border-radius: 8px;
        
//         font-family: 'Montserrat';
//         font-style: normal;
//         font-weight: 700;
//         font-size: 16px;
//         line-height: 20px;
//         text-align: center;
//         text-transform: uppercase;
//         color: #FFFFFF;
        
//         }}
// }