extends ../maket.pug

block content
    section#blue 
        .container
            .cube__inner
                .cube__inform
                    h2.cube__title Создаем решения
                    h3.cube__subtitle Для роста бизнеса
                    p.cube__text На основе анализа данных с алгоритмами реализации
                    button#open-modal.prime__button Обсудить проблему
                img.col-5.cube__img(src="../assets/img/cube.png", alt="cube")


            //- .blue__content.row.justify-content-md-between
            //-     .blue__text.col-sm-6.col-lg-7
            //-         p.blue__text-title1 Создаем решения
            //-         p.blue__text-title2 Для роста бизнеса
            //-         p.blue__text-title3 На основе анализа данных с алгоритмами реализации
            //-         button.prime__button#open-modal Обсудить проблему
            //-     .blue__img.col-lg-5
            //-         img(src="../../assets/img/icons/image.svg", alt="")



            .row.blue__container
                .col-md-4.col-sm-6.col-12
                    .block__blue-first.block-blue__size
                        img(src="../../assets/img/icons/plan.svg", alt="")
                        p Разрабатываем маркетинг-план: дорожная карта достижения целей
                .col-md-8.col-sm-6.col-12
                    .block__blue-second.block-blue__size
                        img(src="../../assets/img/icons/lamp.svg", alt="")
                        p Повышаем эффективность продвижения: аудит существующей модели
                    .row.responsive__web
                        .col-md-6.col-sm-6
                            .block__blue-third.block-blue__size
                                img(src="../../assets/img/icons/search.svg", alt="")
                                p Находим скрытую прибыль: анализ модели ценообразования
                        .col-md-6.col-sm-6
                            .block__blue-fourth.block-blue__size
                                img(src="../../assets/img/icons/startup.svg", alt="")
                                p Запускаем новый проект: start-up маркетинг
                .col-sm-6.col-12.responsive__ipad
                    .block__blue-third.block-blue__size
                        img(src="../../assets/img/icons/search.svg", alt="")
                        p Находим скрытую прибыль: анализ модели ценообразования
                .col-sm-6.col-12.responsive__ipad
                    .block__blue-fourth.block-blue__size
                        img(src="../../assets/img/icons/startup.svg", alt="")
                        p Запускаем новый проект: start-up маркетинг
                   
                    
    //- section.modal-page.d-none#modal-page
    //-    .modal-page__inner
    #modal-order.modal-order
        .modal-order__wrapper
            #modal-order-container.modal-order__container
                img.modal-page__close(src='../../assets/img/icons/close.svg', alt='close')
                .modal-page__item
                     form.modal-page__form#modal-order-form
                        h2.modal-page__title Оставьте заявку
                        .modal__input
                            input.name#modal-order-input-name(type='text', placeholder='Ваше имя', name='name')
                            p.warning-name-error#modal-order-input-name-err
                        .modal__input
                            input.email#modal-order-input-email(type='text', placeholder='Email', name='email')
                            p.warning-name-error#modal-order-input-email-err
                        .modal__input
                            textarea.big-text#modal-order-text-issue(type='text', placeholder='Пожалуйста опишите вашу проблему', name='big-text')
                            p.warning-big-text-error#modal-order-text-issue-err
                        input.prime__button.form__button-submit(type='submit' value="отправить")



                   
                        //- form.modal-page__form#modal-order-form
                        //-     h2.modal-page__title Оставьте заявку
                        //-     .modal__input
                        //-         input.name#modal-order-input-name(type='text', placeholder='Ваше имя', name='name')
                        //-         p.warning-name-error#modal-order-input-name-err
                        //-     .modal__input
                        //-         input.email#modal-order-input-email(type='text', placeholder='Email', name='email')
                        //-         p.warning-name-error#modal-order-input-email-err
                        //-     .modal__input
                        //-         textarea.big-text#modal-order-text-issue(type='text', placeholder='Пожалуйста опишите вашу проблему', name='big-text')
                        //-         p.warning-big-text-error#modal-order-text-issue-err
                        //-     input.prime__button.form__button-submit(type='submit' value="отправить")