extends ../maket.pug
include ../mixins/price-card.pug
block content
    include ../api/json.pug
    section#price
        .container
            .breadcrumbs
                a(href='./') Главный  
                p /
                p.active Тренинги
            .price__items
                img.training__cube-img(src="../../assets/img/icons/cube_one.svg", alt="")
                img.training__bg-img(src="../../assets/img/services_img.png", alt="")
                each item in trainings
                    +priceCard(item)
                


